<header class="header">
  <nav class="nav-header">
    <div class="nav-left">
      <a href="/">{{ .Site.Title }}</a>
    </div>
    <div class="nav-right">
      <span class="author">{{ $.Site.Params.author }}</span>
      <span class="nav-icons">
        {{ with .Site.Params.github }}
        <a href="https://github.com/{{ . }}" alt="Link to my github profile" rel="noopener" target="_blank">
          <img class="octicon" src="/images/github.svg">
        </a>
        {{ end }}
        {{ with .Site.Params.email }}
        <a href="mailto:{{ . }}" alt="Link to write me email" target="_blank">
          <img class="octicon" src="/images/mail.svg">
        </a>
        {{ end }}
        {{ with .Site.Params.telegram }}
        <a href="tg://resolve?domain={{ . }}" alt="Link to write me in telegram" target="_blank">
          <img class="octicon" src="/images/telegram.svg">
        </a>
        {{ end }}
        <a href="/index.xml" alt="Link to RSS" target="_blank">
          <img class="octicon" src="/images/rss.svg">
        </a>
      </span>
  </div>
  </nav>
</header>
